h1{
    color : red;
}

#Heading2{
    color: blue;
}

.heading{
    color:orange
}
.para{
    border: 2px;
    border-color: black;
    border-style: dotted;
    padding: 20px;
    text-align: center;
}